*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(255, 255, 255)
}
.logo{
    color: rgb(32, 48, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.nav-links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
}
.nav-links li{
    list-style: none;
    text-transform: uppercase;
}
.footer{
    background-color: black;
    padding: 10px;
    height:600px;
}
.footer-head{
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica;
    margin-top: 30px;
}
.footer-text a{
    padding-top: 35px;
}
.footer-subscribe{
    width: 500px;
    display: flex;
    flex-direction: row;
}
.footer-email{
    padding-top: 85px;
    bottom: 0;
}
.butoni-sub{
    width: 100px;
    border-radius: 5px;
}
.footer-email-class{
    height: 34px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: black;
    color: white;
}
.footer-subscribe{
    padding-top: 80px;
    padding-left: 25px;
    bottom: 0;
}
.butoni-sub{
    background-color: #6E3FFB;
    color: white;
}
.footer-middle{
    height: 30px;
    color: #6E3FFB;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    width: 350px;
    margin-top: 25px;
}
.footer-mid{
    display: flex;
    margin-top: 30px;
    flex-direction:row;
    justify-content: left;
    padding-left: 122px;
}
.footer-line{
    width: -webkit-fill-available;
    align-self: center;
    padding-left: 40px;
    padding-right: 150px;
}
.footer-footer{
    display: flex;
    justify-content: space-around;
    height: 150px;
    padding-top: 20px;
    margin-top: 25px;
}
.footer-footer ul{
    color: white;
    font-size: 19px;
}
.footer-footer ul li{
    list-style: none;
    padding-top: 25px;
}
.footer-footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica;
}
.body{
    background-color: #f0f0f0;
    height: 2800px;
}
.slider-content     img{
    width: 80%;
    height: 400px;
}
.show-content{
    display: block;
}
.hidden-content{
    display: none;
}
.slider{
    padding-top: 100px;
    padding-left:20%
}
.body-phones{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.body-phones-txt{
    font-size: 35px;
    color: black;
    font-family: Helvetica;
    padding-left: 15%;
    font-weight: bold;
    width: 500px;
}
.body-phones-line{
    width: 70%;
    padding-left:100px;
    align-self: center;
    padding-right: 100px;
}
.mobile-phones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.mobile-phone-div{
    width: 160px;
    height: 212px;
}
.emertimi{
    font-size: 14px;
    font-family: helvetica;
    color: black;
    padding-top: 20px;
    text-align: center;
}
.qmimi{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    text-align: center;
}
.more-mobile-phones{
    height: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-phones{
    background-color: #6E3FFB;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    border-radius: 4px;
}
.more-phones a{
    text-decoration: none;
}
.body-tablets{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.body-tablets-txt{
    font-size: 35px;
    color: black;
    font-family: Helvetica;
    padding-left: 15%;
    font-weight: bold;
    width: 500px;
}
.body-tablets-line{
    padding-left:100px;
    align-self: center;
    padding-right: 100px;
    width: 70%;
}
.tablets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.tablets-div{
    width: 160px;
    height: 212px;
}
.more-tablets{
    height: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-tablets-1{
    background-color: #6E3FFB;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    border-radius: 4px;
}
.more-tablets-1 a{
    text-decoration: none;
}
.body-laptops{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.body-laptops-txt{
    font-size: 35px;
    color: black;
    font-family: Helvetica;
    padding-left: 15%;
    font-weight: bold;
    width: 500px;
}
.body-laptops-line{
    padding-left:100px;
    align-self: center;
    padding-right: 100px;
    width: 70%;
}
.laptops{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.laptops-div{
    width: 160px;
    height: 212px;
}
.more-laptops{
    height: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-laptops-1{
    background-color: #6E3FFB;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    border-radius: 4px;
}
.more-laptops-1 a{
    text-decoration: none;
}
.our-brands{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.our-brands-txt{
    font-size: 35px;
    color: #999999;
    font-family: Helvetica;
    padding-left: 15%;
    font-weight: bold;
    width: 500px;
}
.our-brands-line{
    padding-left:50px;
    align-self: center;
    padding-right: 100px;
    width: 80%;
}
.brands{
    background-color: #DCDCDC;
    height: 800px;
    margin-top: 0px;
    padding-top: 100px;
}
.logo-1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.logo-2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}