*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(255, 255, 255)
}
.logo{
    color: rgb(32, 48, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.nav-links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
}
.nav-links li{
    list-style: none;
    text-transform: uppercase;
}
.footer{
    background-color: black;
    padding: 10px;
    height:600px;
}
.footer-head{
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica;
    margin-top: 30px;
}
.footer-text a{
    padding-top: 35px;
}
.footer-subscribe{
    width: 500px;
    display: flex;
    flex-direction: row;
}
.footer-email{
    padding-top: 85px;
    bottom: 0;
}
.butoni-sub{
    width: 100px;
    border-radius: 5px;
}
.footer-email-class{
    height: 34px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: black;
    color: white;
}
.footer-subscribe{
    padding-top: 80px;
    padding-left: 25px;
    bottom: 0;
}
.butoni-sub{
    background-color: #6E3FFB;
    color: white;
}
.footer-middle{
    height: 30px;
    color: #6E3FFB;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    width: 350px;
    margin-top: 25px;
}
.footer-mid{
    display: flex;
    margin-top: 30px;
    flex-direction:row;
    justify-content: left;
    padding-left: 122px;
}
.footer-line{
    width: -webkit-fill-available;
    align-self: center;
    padding-left: 40px;
    padding-right: 150px;
}
.footer-footer{
    display: flex;
    justify-content: space-around;
    height: 150px;
    padding-top: 20px;
    margin-top: 25px;
}
.footer-footer ul{
    color: white;
    font-size: 19px;
}
.footer-footer ul li{
    list-style: none;
    padding-top: 25px;
}
.footer-footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica;
}
.body{
    background-color: #F0F0F0;
    height: 1000px; 
}
.top-body{
    display: flex;
    flex-direction: row;
    padding-left: 122px;
    padding-top: 70px;
}
.top-line{
    width: -webkit-fill-available;
    align-self: center;
    padding-left: 40px;
    padding-right: 150px;
}
.top-text a{
    color: black;
    font-family: Helvetica;
    font-size: 33px;
    font-weight: bold   ;
}
.top-text{
    width: 180px;
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 350px;
    margin: 20vh auto;
    background: lightgray;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px;
  }
  h2 {
    font-size: 30px;
  }
  
  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .form-item {
    display: flex;
    width: 90%;
    background: transparent;
    margin: 10px auto;
    border-radius: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(82, 81, 81);
  }
  .form-item:hover {
    border: 1px solid rgb(82, 81, 81);
  }
  input {
    background: transparent;
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    margin: auto;
    color: white;
    font-size: 17px;
  }
  
  button[type="submit"] {
    width: 180px;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px;
    background: rgba(122, 123, 116, 0.72);
    border: none;
    color: white;
  }
  button[type="submit"]:hover {
    background: lightskyblue;
  }
  p:first-of-type {
    margin: 0;
  }
  .options {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  button {
    font-size: 18px;
    padding: 5px 16px;
    margin: 5px 15px;
    width: 180px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.7s ease;
  }
  .fb:hover {
    background: rgba(55, 53, 207, 0.637);
    border: none;
    box-shadow: 0 0 2px rgba(55, 53, 207, 0.637);
  }
  .gl:hover {
    background: rgba(207, 53, 53, 0.671);
    border: none;
    box-shadow: 0 0 2px rgba(207, 53, 53, 0.671);
  }
  
  p {
    font-size: 18px;
    margin: 5px;
  }
  a {
    color: white;
  }
  a:hover {
    color: grey;
  }
  
  @media screen and (max-width: 550px) {
    .container {
      width: 90%;
    }
  }